.header {
  width: 280px;
  padding: 22px 20px 38px;
  background-color: #1d2631;
  background-image: url("../img/back-mobile.jpg");
  background-repeat: no-repeat;
}

.header__slogan {
  margin: 0;
  padding: 30px 0 25px 0;

  @include header($line-height: 29px);
  color: #ffffff;
  text-align: center;
}

.header__title {
  margin: 0;
  margin-top: 29px;

  @include header();
  color: #ffffff;
  text-align: center;
}
